<%- include('../partials/header') %>

    <h1 class="chirperHeader">Post</h1>
    <section class="userContent">
        <div>
            <%= posts.userText %><br><br>
            <%= posts.createdAt%>
        </div>

        <% if (user) { %>
            <form action="/Chirper/<%= posts._id %>?_method=DELETE" method="POST">
              <button class="postButton" type="submit">Delete Chirp</button>
            </form>
          <% } %>
    </section>

    <% if(user) { %>
        <h2 class="headerTwo">Add A Comment</h2>
        <form class="form-for-post"  method="POST" action="/Chirper/<%= posts._id %>/post">
            <textarea id="commentForm" name="comment" rows="5" cols="40" placeholder="Add a Comment"></textarea>
            <button class="postButton" type="submit">Add comment</button> 
        </form>
    <% } %> 
    <% if(comments.length) { %>
            <% comments.forEach(function(c){ %>
                <div id="userComment">
                <%= c.comment %>
                <%= c.createdAt %> 
                </div>
        <% }); %>
    <% } else { %>
        <h5 class="noPosts">No Comments Yet</h5>
    <% } %> 
</body>
</html>