<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Chirper | Posts</title>
</head>
<body>
    <nav class="navBar">
        <% if (user) { %> 
            <a href="/Chirper/home" <%- title === 'Chirper | Home' ? 'class="active"' : '' %>>Home</a> 
            <a href="/Chirper/create" <%- title === 'Chirper | Create a Post' ? 'class="active"' : '' %>>Create Chirp</a>
            <a href="/logout">Log Out</a>
        <% } else { %>
            <a href="/auth/google" class="login">Log In</a>
        <% } %> 
    </nav>

    <h1 class="chirperHeader">Chirper</h1>
    <section class="userContent">
        <div><%= posts.userText %></div>
        <% if (user) { %>
            <form action="/Chirper/<%= posts._id %>?_method=DELETE" method="POST">
              <button class="deleteBtn" type="submit">Delete Chirp</button>
            </form>
          <% } %>
    </section>

    <% if(user) { %>
        <h2 class="headerTwo">Add A Comment</h2>
        <form class="form-for-post"  method="POST" action="/Chirper/<%= posts._id %>/post">
            <textarea id="commentForm" name="userComment" rows="5" cols="40" placeholder="Add a Comment"></textarea>
            <input class="postButton" type="submit" value="Add Comment">
        </form>
    <% } %> 
        <% if(comments.length) { %>
        <% let total = 0 %>
            <% comments.forEach(function(c){ %>
                <div id="userComment">
                <%= c.userComment %>
                </div>
        <% }); %> 
        <% } else { %>
            <h5 class="noPosts">No Comments Yet</h5>
        <% } %> 
</body>
</html>