<%- include('../partials/header') %>
    <h1 class="chirperHeader">Post</h1>
    <section class="userContent">
        <div>
            <%= chirp.chirpText %><br><br>
            <%= chirp.createdAt%>
        </div>

        <% if (user) { %>
            <form action="/Chirper/<%= chirp._id %>?_method=DELETE" method="POST">
              <button class="postButton" type="submit">Delete Chirp</button>
            </form>
            <button class="postButton"><a href='/Chirper/chirps/<%= chirp._id %>/edit'> Edit Chirp</a></button>            
          <% } %>
    </section>

    <button class="postButton"><a href="/Chirper/chirps/<%= chirp._id %>/comments">View Comments</a></button>


</body>
</html>