<%- include('../partials/header') %>

    <h1 class="chirperHeader">Post</h1>
    <section class="userContent">
        <div>
            <%= chirp.chirpText %><br><br>
            <%= chirp.createdAt%>
        </div>

        <% if (user) { %>
            <form action="/Chirper/<%= chirp._id %>?_method=DELETE" method="POST">
              <button class="postButton" type="submit">Delete Chirp</button>
            </form>
            <form action="/Chirper/<%= chirp._id %>" method="PUT">
                <button class="postButton" type="submit">Edit Chirp</button>>
            </form>
          <% } %>
    </section>

    <% if(user) { %>
        <h2 class="headerTwo">Add A Comment</h2>
        <form class="form-for-post"  method="POST" action="/Chirper/<%= chirp._id %>/post">
            <textarea id="commentForm" name="comment" rows="5" cols="40" placeholder="Add a Comment"></textarea>
            <button class="postButton" type="submit">Add comment</button> 
        </form>
    <% } %> 

</body>
</html>